<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
    />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="..\static\css\egitim.css" />
    <title>SABAHATTİN ALİ BİYOGRAFİ(EĞİTİM)</title>
  </head>
  <body>
    <main class="main">
      <!-- Önizleme bölümü -->
      <section class="main__home home" id="home">
        <h1 class="home__title">SABAHATTİN ALİ</h1>
        <p class="home__subtitle">Türk Yazar ve Şair</p>
      </section>
      <!-- Hakkımda bölümü -->
      <!-- Beceriler bölümü -->
      <section class="main__skills skills" id="skills">
        <form action="/" method="POST">
          <ul class="skills__list skills-list">
            <li class="skills-list__skill skill">
              <img
                class="skill__img"
                src="../static/img/anasayfa.png"
                alt="python"
                width="150"
                height="150"
              />
              <span class="skill__info">ANA SAYFA</span>
              <a href="/anasayfa" class="skill__button" formaction="/anasayfa">Sayfaya Git</a>
            </li>
            <li class="skills-list__skill skill">
              <img
                class="skill__img"
                src="../static/img/kitap.png"
                alt="python"
                width="150"
                height="150"
              />
              <span class="skill__info">EĞİTİM HAYATI</span>
              <a href="/egitim" class="skill__button" formaction="/egitim">Sayfaya Git</a>
            </li>
            <li class="skills-list__skill skill">
              <img
                class="skill__img"
                src="../static/img/saat.png"
                alt="discord"
                width="150"
                height="150"
              />
              <span class="skill__info">YAZARIN ÖLÜMÜ</span>
              <a href="/dogum" class="skill__button" formaction="/dogum">Sayfaya Git</a>
            </li>
            <li class="skills-list__skill skill">
              <img
                class="skill__img"
                src="../static/img/siyasi.png"
                alt="html"
                width="150"
                height="150"
              />
              <span class="skill__info">YAŞADIĞI SİYASİ OLAYLAR</span>
              <a href="/siyasi"   class="skill__button" formaction="/siyasi">Sayfaya Git</a>
            </li>
            <li class="skills-list__skill skill">
              <img
                class="skill__img"
                src="../static/img/eserler.png"
                alt="SQL"
                width="150"
                height="150"
              />
              <span class="skill__info">ESERLERİ HAKKINDA BİLGİ</span>
              <a href="/eserler" class="skill__button" formaction="/eserler">Sayfaya Git</a>
            </li>
            <li class="skills-list__skill skill">
              <img class="skill__img" src="..\static\img\SabahattinAli.png" alt="Siyasi" width="150" height="150" />
              <span class="skill__info">YAZARIN FİZİKSEL ÖZELLİKLERİ VE KİŞİLİĞİ</span>
              <a href="/fiziksel" class="skill__button">Sayfaya Git</a>
            </li>
            <li class="skills-list__skill skill">
              <img class="skill__img" src="..\static\img\sabahattinali2.png" alt="Ögretmenlik" width="150" height="150" />
              <span class="skill__info">YAZARIN ÖĞRETMENLİK HAYATI</span>
              <a href="/ogretmenlik" class="skill__button">Sayfaya Git</a>
            </li>
          </ul>
        </form>
      </section>
      <section class="main__about about" id="about">
        <h2 class="about__title">EĞİTİM HAYATI</h2>
        <div class="about__info info-block">
        <ul>
            <li>Eğitim Hayatı ve İlk Edebi Çalışmaları:
            Sabahattin Ali, ilköğrenimine 1914 yılında İstanbul Üsküdar’daki Füyuzat-ı Osmaniye’de başlamış; 1921 yılında ise Çanakkale ve Edremit iptidailerinde (ilkokul) tamamlamıştır. Ardından Balıkesir Öğretmen Okuluna girmiş, 1926 yılında İstanbul Erkek Öğretmen Okuluna geçiş yaparak son sınıfı burada okumuştur.
            Yazın hayatının ilk tohumları öğrencilik yıllarında atılmıştır. Arkadaşlarıyla çıkardığı okul gazetesinde ilk öykü ve şiirleri yer almış; okul dergileri dışındaki ilk eseri olan "Şarkı" adlı şiiri ise Balıkesir’de çıkan Çağlayan dergisinde yayımlanmıştır.
          <li>
            <br><br>
           <li>
            Kayıplar ve Öğretmenlik Yılları:
            19 yaşındayken, 12 Kasım 1926 tarihinde babasını aniden kaybetmesi genç yazar üzerinde derin bir iz bırakmıştır. Bu acının etkisiyle kaleme aldığı “Babam İçin” adlı şiiri, 15 Ocak 1927’de Güneş dergisinde okurla buluşmuştur. 1927 yılında İstanbul Öğretmen Okulundan mezun olduktan sonra, aynı yılın Ekim ayında Yozgat Cumhuriyet İlkokulunda öğretmenlik görevine başlamıştır.
          <li>
            <br><br>
           <li>
            Almanya Dönemi ve Edebi Şekillenme:
            1928 yılında Maarif Vekâletinin açtığı sınavda başarı göstererek Kasım ayında öğrenci olarak Almanya’ya gönderilmiştir. Potsdam’da dil kurslarına katıldığı bu dönemde Batı edebiyatını yakından tanıma fırsatı bulmuş ve Rus yazarların eserlerini okumuştur. Almanya’da edindiği tecrübeler, yazdığı şiir ve öyküler edebi kimliğinin temellerini oluşturmuştur.
          <li>
            <br><br>
           <li>
            Türkiye’ye Dönüş ve Toplumsal Gerçekçilik
            1930 baharında Türkiye’ye dönen Sabahattin Ali, bir süre Bursa’nın Orhangazi ve Orhaneli ilçelerinde görev yapmıştır. Ardından Gazi Terbiye Enstitüsünün Almanca sınavını kazanarak Almanca öğretmenliğine atanmıştır.
            1930 yılı, yazarın kariyeri için bir dönüm noktasıdır: İlk toplumsal gerçekçi öyküsü olan “Bir Orman Hikâyesi”ni Resimli Ay mecmuasında yayımlamış ve bu vesileyle ömür boyu sürecek olan dostluklarının temeli atılan Nazım Hikmet ile tanışmıştır.
          <li>
          <ul>
        </div>
      </section>
