<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
    />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="../static/css/eserler.css" />
    <title>SABAHATTİN ALİ BİYOGRAFİ(ESERLER)</title>
  </head>
  <body>
    <main class="main">
      <!-- Önizleme bölümü -->
      <section class="main__home home" id="home">
        <h1 class="home__title">SABAHATTİN ALİ</h1>
        <p class="home__subtitle">Türk Yazar ve Şair</p>
      </section>
      <!-- Hakkımda bölümü -->
      <!-- Beceriler bölümü -->
      <section class="main__skills skills" id="skills">
        <form action="/" method="POST">
          <ul class="skills__list skills-list">
            <li class="skills-list__skill skill">
              <img
                class="skill__img"
                src="../static/img/anasayfa.png"
                alt="python"
                width="150"
                height="150"
              />
              <span class="skill__info">ANA SAYFA</span>
              <a href="/anasayfa" class="skill__button" formaction="/anasayfa">Sayfaya Git</a>
            </li>
            <li class="skills-list__skill skill">
              <img
                class="skill__img"
                src="../static/img/kitap.png"
                alt="python"
                width="150"
                height="150"
              />
              <span class="skill__info">EĞİTİM HAYATI</span>
              <a href="/egitim" class="skill__button" formaction="/egitim">Sayfaya Git</a>
            </li>
            <li class="skills-list__skill skill">
              <img
                class="skill__img"
                src="../static/img/saat.png"
                alt="discord"
                width="150"
                height="150"
              />
              <span class="skill__info">YAZARIN ÖLÜMÜ</span>
              <a href="/dogum" class="skill__button" formaction="/dogum">Sayfaya Git</a>
            </li>
            <li class="skills-list__skill skill">
              <img
                class="skill__img"
                src="../static/img/siyasi.png"
                alt="html"
                width="150"
                height="150"
              />
              <span class="skill__info">YAŞADIĞI SİYASİ OLAYLAR</span>
              <a href="/siyasi"   class="skill__button" formaction="/siyasi">Sayfaya Git</a>
            </li>
            <li class="skills-list__skill skill">
              <img
                class="skill__img"
                src="../static/img/eserler.png"
                alt="SQL"
                width="150"
                height="150"
              />
              <span class="skill__info">ESERLERİ HAKKINDA BİLGİ</span>
              <a href="/eserler" class="skill__button" formaction="/eserler">Sayfaya Git</a>
            </li>
            <li class="skills-list__skill skill">
              <img class="skill__img" src="..\static\img\SabahattinAli.png" alt="Siyasi" width="150" height="150" />
              <span class="skill__info">YAZARIN FİZİKSEL ÖZELLİKLERİ VE KİŞİLİĞİ</span>
              <a href="/fiziksel" class="skill__button">Sayfaya Git</a>
            </li>
            <li class="skills-list__skill skill">
              <img class="skill__img" src="..\static\img\sabahattinali2.png" alt="Ögretmenlik" width="150" height="150" />
              <span class="skill__info">YAZARIN ÖĞRETMENLİK HAYATI</span>
              <a href="/ögretmenlik" class="skill__button">Sayfaya Git</a>
            </li>
          </ul>
        </form>
      </section>
      <section class="main__about about" id="about">
        <h2 class="about__title">ESERLERİ HAKKINDA BİLGİLER</h2>
        <div style="text-align: left;" class="about__info info-block">    
         <table border="0" width="100%" style="table-layout: fixed;">
  <tr>
    <!-- SOL TARAF -->
    <td style="width:30%; vertical-align: top; padding:10px;">
      <strong>Roman</strong><br>
      <ul style="padding-left: 20px;" >
        <li><a href="https://tr.wikipedia.org/wiki/Kuyucakl%C4%B1_Yusuf">1937: Kuyucaklı Yusuf</a></li>
        <li><a href="https://tr.wikipedia.org/wiki/%C4%B0%C3%A7imizdeki_%C5%9Eeytan">1940: İçimizdeki Şeytan</a></li>
        <li><a href="https://tr.wikipedia.org/wiki/K%C3%BCrk_Mantolu_Madonna">1943: Kürk Mantolu Madonna</a></li>
      </ul>

      <strong>Öykü</strong>
      <ul style="padding-left: 20px;"">
        <li><a href="https://tr.wikipedia.org/wiki/De%C4%9Firmen_(kitap)">1935: Değirmen</a></li>
        <li><a href="https://tr.wikipedia.org/wiki/Ka%C4%9Fn%C4%B1_(kitap)">1936: Kağnı</a></li>
        <li><a href="https://tr.wikipedia.org/wiki/Ses_(kitap)">1937: Ses</a></li>
        <li><a href="https://tr.wikipedia.org/wiki/Yeni_D%C3%BCnya_(kitap)">1943: Yeni Dünya</a></li>
        <li><a href="https://tr.wikipedia.org/wiki/S%C4%B1r%C3%A7a_K%C3%B6%C5%9Fk_(kitap)">1947: Sırça Köşk</a></li>
      </ul>

      <strong>Şiir</strong>
      <ul style="padding-left: 20px;"">
        <li><a href="https://tr.wikipedia.org/wiki/Da%C4%9Flar_ve_R%C3%BCzg%C3%A2r">1934: Dağlar ve Rüzgâr</a></li>
        <li><a href="#">1937: Kurbağanın Serenadı</a></li>
        <li><a href="#">1937: Öteki Şiirler</a></li>
      </ul>

      <strong>Oyun</strong>
        <ul style="padding-left: 20px;"">
          <li><a href="https://tr.wikipedia.org/wiki/Esirler">1936: Esirler</a></li>        
        </ul>
    </td>

    <!-- SAĞ TARAF -->
    <td style="width:70%; vertical-align: top; padding:10px; text-align: justify;">
      Sabahattin Ali ilk yıllarında sanatı "İçinde yaşanan cemiyet şartlarının şuurlu veya şuursuz bir ifadesi" olarak yorumlamaktaydı. Daha sonra da sanatın yalın bir yansıtma işi olmasına karşı çıkarak "sanatın bir maksadı olmalı" değerlendirmesinde bulundu. Bir mülakatında ise sanatın insanı yükseltmek ve daha iyiye götürmek dışında bir maksadının olmadığını vurguladı. Dönemin sanatkârlarını "eski gazelhanlar" ve "sahib-i mezak" olarak değerlendirdi, halktan yana olmayan eserler verdiklerini, yüksek zümreye hitap ettiklerini ve zamanla unutulup gideceklerinden bahsetti. Yeni edebiyatçıların da kalıcı olabilmeleri için realist olmaları gerektiğini söyledi.
      <br><br>
      1938 yılında kendisiyle yapılan bir söyleşide ise şiir hakkında "Bence şiirin eskisi yenisi yoktur. İyi şiir, muhakkak ki insana bir şey ilave eder, bu şey bazen tez olur, bazen bizim manen daha genişlememizi temin eden bir heyecan olur." ifadelerini kullandı.
      <br><br>
      Sabahattin Ali, öykü ve roman gibi türlerde kalıcı olabilmek için seçilen karakterlerin canlı olmasını ve konuların güncelliğini yitirmeyecek türden olması gerektiğini savundu.Edebî eserler üzerine yapılan eski-yeni tartışmasını ise lüzumsuz olarak değerlendirdi, eserlerin iyi-kötü ölçeğinde değerlendirilmesi önerisinde bulundu. Bu önerisine örnek olarak da yeni ve kalitesiz yazarlar yerine eski ve kaliteli yazarların okunacağını belirtti. Yaşar Nabi Nayır'a gönderdiği bir mektubunda ise Orhan Veli Kanık'ın öncülüğünü yaptığı Garip hareketini halktan uzak, lüzumsuz ve anlaşılmaz olarak değerlendirdi.
      <br><br>
      Dilde sadeliğe de büyük önem veren Sabahattin Ali, bu düşüncesini eserlerine de yansıttı.
      Dergide yazdığı bazı öykülerinin kitap olarak toplatılmasından sonraki hâli daha sade bir görünüme sahiptir. Bir mektubunda da bazı hikâyelerini sadeleştirme gereği duyduğunu yazdı. Dilde sadeleşmeyi desteklemekle beraber Öz Türkçede aşırıya gidilmesine de karşı çıktı, dile yerleşen ve kalıplaşan kelimelerin kullanılmasının gerektiğini düşündü.
    </td>
  </tr>
</table>          
        </div>
      </section>