<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
    />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="../static/css/fiziksel.css" />
    <title>SABAHATTİN ALİ BİYOGRAFİ(FİZİKSEL)</title>
  </head>
  <body>
    <main class="main">
      <!-- Önizleme bölümü -->
      <section class="main__home home" id="home">
        <h1 class="home__title">SABAHATTİN ALİ</h1>
        <p class="home__subtitle">Türk Yazar ve Şair</p>
      </section>
      <!-- Hakkımda bölümü -->
      <!-- Beceriler bölümü -->
      <section class="main__skills skills" id="skills">
        <form action="/" method="POST">
          <ul class="skills__list skills-list">
            <li class="skills-list__skill skill">
              <img
                class="skill__img"
                src="../static/img/anasayfa.png"
                alt="python"
                width="150"
                height="150"
              />
              <span class="skill__info">ANA SAYFA</span>
              <a href="/anasayfa" class="skill__button" formaction="/anasayfa">Sayfaya Git</a>
            </li>
            <li class="skills-list__skill skill">
              <img
                class="skill__img"
                src="../static/img/kitap.png"
                alt="python"
                width="150"
                height="150"
              />
              <span class="skill__info">EĞİTİM HAYATI</span>
              <a href="/egitim" class="skill__button" formaction="/egitim">Sayfaya Git</a>
            </li>
            <li class="skills-list__skill skill">
              <img
                class="skill__img"
                src="../static/img/saat.png"
                alt="discord"
                width="150"
                height="150"
              />
              <span class="skill__info">YAZARIN ÖLÜMÜ</span>
              <a href="/dogum" class="skill__button" formaction="/dogum">Sayfaya Git</a>
            </li>
            <li class="skills-list__skill skill">
              <img
                class="skill__img"
                src="../static/img/siyasi.png"
                alt="html"
                width="150"
                height="150"
              />
              <span class="skill__info">YAŞADIĞI SİYASİ OLAYLAR</span>
              <a href="/siyasi"   class="skill__button" formaction="/siyasi">Sayfaya Git</a>
            </li>
            <li class="skills-list__skill skill">
              <img
                class="skill__img"
                src="../static/img/eserler.png"
                alt="SQL"
                width="150"
                height="150"
              />
              <span class="skill__info">ESERLERİ HAKKINDA BİLGİ</span>
              <a href="/eserler" class="skill__button" formaction="/eserler">Sayfaya Git</a>
            </li>
            <li class="skills-list__skill skill">
              <img class="skill__img" src="..\static\img\SabahattinAli.png" alt="Siyasi" width="150" height="150" />
              <span class="skill__info">YAZARIN FİZİKSEL ÖZELLİKLERİ VE KİŞİLİĞİ</span>
              <a href="/fiziksel" class="skill__button">Sayfaya Git</a>
            </li>
            <li class="skills-list__skill skill">
              <img class="skill__img" src="..\static\img\sabahattinali2.png" alt="Ögretmenlik" width="150" height="150" />
              <span class="skill__info">YAZARIN ÖĞRETMENLİK HAYATI</span>
              <a href="/ögretmenlik" class="skill__button">Sayfaya Git</a>
            </li>
          </ul>
        </form>
      </section>
      <section class="main__about about" id="about">
        <h2 class="about__title">YAZARIN FİZİKSEL ÖZELLİKLERİ VE KİŞİLİĞİ</h2>
        <table border="0" width="100%" style="table-layout: fixed;">
  <tr>
    <!-- SOL TARAF -->
    <td style="width:30%; vertical-align: top; padding:10px;">
      <strong>FİZİKSEL ÖZELLİKLER</strong><br>
      <ul style="padding-left: 20px;" >
      <li>Antropometrik Yapı: Orta boylu, ektomorf (ince ve narin) bir vücut yapısına sahiptir.</li>
      <br><br>
      <li>Kafa ve Yüz Yapısı: Brakisefal kafa yapısı, geniş bir alın bölgesi ve oval yüz hatları mevcuttur.</li>
      <br><br>
      <li>Vokal Özellikler: Bariton ses aralığına sahip, artikülasyonu yüksek ve İstanbul ağzına uygun konuşma profili sergilemektedir.</li>
      <br><br>
      <li>Giyim ve Hijyen: Dönemin sosyo-kültürel normlarına uygun olarak formel (takım elbise, kravat, fötr şapka) giyimi tercih ettiği ve kişisel hijyen standartlarını en zor şartlarda dahi koruduğu belgelenmiştir.</li>
      <br><br>
      <li>Motor Beceriler: İnce motor becerileri gelişmiştir; keman ve mandolin çalma yetkinliğinin yanı sıra, el yazısı ve çizimlerinde teknik bir titizlik gözlemlenir.</li>
      <br><br>
      <li>Görme Bozukluğu: İleri derecede miyopi tanısı bulunmaktadır. Bu durum, yaşamı boyunca yüksek diyoptri değerine sahip yuvarlak çerçeveli gözlükler kullanmasına neden olmuştur.</li>
      <br><br>
      </ul>
    <!-- SAĞ TARAF -->
    <td style="width:70%; vertical-align: top; padding:10px; text-align: justify;">
      <strong>KİŞİLİK ÖZELLİKLERİ</strong><br>
      <li>Entelektüel Kapasite: Yüksek düzeyde bilişsel merak ve öğrenme motivasyonuna sahiptir. Almanca dil yetkinliği sayesinde Alman edebiyatı ve felsefesi üzerine derinlemesine analiz yapabilme becerisine sahiptir.</li>
      <br><br>
      <li>Sosyal Davranış: Ekstravert (dışa dönük) eğilimler gösterir; sosyal ortamlarda baskın, anlatıcı ve mizah odaklı bir rol üstlenir. Ancak bu profilin altında, edebi üretim sürecinde ortaya çıkan içe dönük (introvert) bir derinlik mevcuttur.</li>
      <br><br>
      <li>Gözlem Yeteneği: Analitik gözlem kapasitesi yüksektir. Çevresindeki bireylerin karakter analizlerini ve toplumsal olayların neden-sonuç ilişkilerini teknik bir tutarlılıkla kurgularına aktarmıştır.</li>
      <br><br>
      <li>Reaktif Tutum: Haksızlık veya etik dışı durumlar karşısında yüksek reaksiyon gösterme eğilimindedir. Bu durum, otorite ile çatışma yaşamasına ve hukuki yaptırımlara maruz kalmasına yol açan dürtüsel bir "doğruluk" prensibiyle ilişkilendirilir.</li>
      <br><br>
      <li>Duygusal Bağlanma: Birincil derece yakınları (eş ve çocuk) ile olan ilişkilerinde istikrarlı, korumacı ve yoğun sorumluluk bilinciyle hareket eden bir bağlanma modeli sergilemiştir.</li>
      <br><br>
      <li>Çalışma Disiplini: Yazınsal üretimde obsesif bir titizlik gösterir. Eserlerini kağıda dökmeden önce zihinsel kurgu aşamasını tamamlayan, kelime seçimi ve cümle yapısında teknik mükemmeliyetçiliği esas alan bir metodoloji izlemiştir.</li>
  </tr>
</table>          
        </div>
      </section>
        </div>
      </section>