<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
    />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="../static/css/style.css" />
    <title>SABAHATTİN ALİ BİYOGRAFİ</title>
  </head>
  <body>
    <header class="header">
      <nav class="header__nav main-nav">
        <ul class="main-nav__list main-list">
          <li class="main-list__item list-item">
            <a class="list-item__link" href="#home">YAZAR</a>
          </li>
          <li class="main-list__item list-item">
            <a class="list-item__link" href="#about">HAKKINDA</a>
          </li>
          <li class="main-list__item list-item">
            <a class="list-item__link" href="#skills">YAZARIN HAYATI</a>
          </li>
        </ul>
      </nav>
    </header>
    <main class="main">
      <!-- Önizleme bölümü -->
      <section class="main__home home" id="home">
        <h1 class="home__title">SABAHATTİN ALİ</h1>
        <p class="home__subtitle">Türk Yazar ve Şair</p>
      </section>
      <!-- Hakkımda bölümü -->
      <section class="main__about about" id="about">
        <h2 class="about__title">Hakkında</h2>
        <div class="about__info info-block">
          <p class="info-block__text">
            Sabahattin Ali (1907-1948), Türk edebiyatının en güçlü toplumcu gerçekçi yazarlarından biridir. 
            Gümülcine doğumlu olan yazar, öğretmenlik yapmış ve devlet bursuyla Almanya’da eğitim görmüştür. 
            Eserlerinde Anadolu insanının çilesini, toplumsal eşitsizlikleri ve bireyin iç dünyasındaki derin yalnızlığı sade bir dille anlatmıştır.
            Muhalif duruşu nedeniyle hayatı hapisler ve sürgünlerle geçen Ali, Sinop Cezaevi'nde kalırken bugün şarkı olarak bildiğimiz "Aldırma Gönül" gibi unutulmaz şiirler kaleme almıştır. Kürk Mantolu Madonna, Kuyucaklı Yusuf ve İçimizdeki Şeytan gibi kült romanların yanı sıra etkileyici öyküleriyle de tanınır. 1948 yılında, üzerindeki siyasi baskılardan kaçmak için yurt dışına çıkmaya çalışırken Kırklareli sınırında trajik bir şekilde öldürülmüştür. Hem bir fikir adamı hem de bir duygu ustası olarak Türk yazınında silinmez bir iz bırakmıştır.
          </p>
        </div>
      </section>
      <!-- Beceriler bölümü -->
      <section class="main__skills skills" id="skills">
        <h2 class="skills__title">YAZAR HAKKINDA BİLGİLER</h2>
        <form action="/" method="POST">
          <ul class="skills__list skills-list">
            <li class="skills-list__skill skill">
              <img class="skill__img" src="../static/img/kitap.png" alt="Eğitim" width="150" height="150" />
              <span class="skill__info">EĞİTİM HAYATI</span>
              <a href="/egitim" class="skill__button">Sayfaya Git</a>
            </li>
            <li class="skills-list__skill skill">
              <img class="skill__img" src="../static/img/saat.png" alt="Yazarlık" width="150" height="150" />
              <span class="skill__info">YAZARIN ÖLÜMÜ</span>
              <a href="/dogum" class="skill__button">Sayfaya Git</a>
            </li>
            <li class="skills-list__skill skill">
              <img class="skill__img" src="../static/img/siyasi.png" alt="Siyasi" width="150" height="150" />
              <span class="skill__info">YAŞADIĞI SİYASİ OLAYLAR</span>
              <a href="/siyasi" class="skill__button">Sayfaya Git</a>
            </li>
            <li class="skills-list__skill skill">
              <img class="skill__img" src="../static/img/eserler.png" alt="Eserler" width="150" height="150" />
              <span class="skill__info">ESERLERİ HAKKINDA BİLGİ</span>
              <a href="/eserler" class="skill__button">Sayfaya Git</a>
            </li>
            <li class="skills-list__skill skill">
              <img class="skill__img" src="..\static\img\SabahattinAli.png" alt="Fiziksel" width="150" height="150" />
              <span class="skill__info">YAZARIN FİZİKSEL ÖZELLİKLERİ VE KİŞİLİĞİ</span>
              <a href="/fiziksel" class="skill__button">Sayfaya Git</a>
            </li>
            <li class="skills-list__skill skill">
              <img class="skill__img" src="..\static\img\sabahattinali2.png" alt="Ögretmenlik" width="150" height="150" />
              <span class="skill__info">YAZARIN ÖĞRETMENLİK HAYATI</span>
              <a href="/ögretmenlik" class="skill__button">Sayfaya Git</a>
            </li>
            <li class="skills-list__skill skill">
              <img class="skill__img" src="../static/img/kaynakca.png" alt="Kaynakça" width="150" height="150" />
              <span class="skill__info">KAYNAKÇA</span>
              <a href="/kaynakca" class="skill__button">Sayfaya Git</a>
            </li>
          </ul>
        </form>
      </section>
    </main>
  </body>
</html>
      