<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
    />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="../static/css/siyasi.css" />
    <title>SABAHATTİN ALİ BİYOGRAFİ(SİYASİ)</title>
  </head>
  <body>
    <main class="main">
      <!-- Önizleme bölümü -->
      <section class="main__home home" id="home">
        <h1 class="home__title">SABAHATTİN ALİ</h1>
        <p class="home__subtitle">Türk Yazar ve Şair</p>
      </section>
      <!-- Hakkımda bölümü -->
      <!-- Beceriler bölümü -->
      <section class="main__skills skills" id="skills">
        <form action="/" method="POST">
          <ul class="skills__list skills-list">
            <li class="skills-list__skill skill">
              <img
                class="skill__img"
                src="../static/img/anasayfa.png"
                alt="python"
                width="150"
                height="150"
              />
              <span class="skill__info">ANA SAYFA</span>
              <a href="/anasayfa" class="skill__button" formaction="/anasayfa">Sayfaya Git</a>
            </li>
            <li class="skills-list__skill skill">
              <img
                class="skill__img"
                src="../static/img/kitap.png"
                alt="python"
                width="150"
                height="150"
              />
              <span class="skill__info">EĞİTİM HAYATI</span>
              <a href="/egitim" class="skill__button" formaction="/egitim">Sayfaya Git</a>
            </li>
            <li class="skills-list__skill skill">
              <img
                class="skill__img"
                src="../static/img/saat.png"
                alt="discord"
                width="150"
                height="150"
              />
              <span class="skill__info">YAZARIN ÖLÜMÜ</span>
              <a href="/dogum" class="skill__button" formaction="/dogum">Sayfaya Git</a>
            </li>
            <li class="skills-list__skill skill">
              <img
                class="skill__img"
                src="../static/img/siyasi.png"
                alt="html"
                width="150"
                height="150"
              />
              <span class="skill__info">YAŞADIĞI SİYASİ OLAYLAR</span>
              <a href="/siyasi"   class="skill__button" formaction="/siyasi">Sayfaya Git</a>
            </li>
            <li class="skills-list__skill skill">
              <img
                class="skill__img"
                src="../static/img/eserler.png"
                alt="SQL"
                width="150"
                height="150"
              />
              <span class="skill__info">ESERLERİ HAKKINDA BİLGİ</span>
              <a href="/eserler" class="skill__button" formaction="/eserler">Sayfaya Git</a>
            </li>
            <li class="skills-list__skill skill">
              <img class="skill__img" src="..\static\img\SabahattinAli.png" alt="Siyasi" width="150" height="150" />
              <span class="skill__info">YAZARIN FİZİKSEL ÖZELLİKLERİ VE KİŞİLİĞİ</span>
              <a href="/fiziksel" class="skill__button">Sayfaya Git</a>
            </li>
            <li class="skills-list__skill skill">
              <img class="skill__img" src="..\static\img\sabahattinali2.png" alt="Ögretmenlik" width="150" height="150" />
              <span class="skill__info">YAZARIN ÖĞRETMENLİK HAYATI</span>
              <a href="/ögretmenlik" class="skill__button">Sayfaya Git</a>
            </li>
          </ul>
        </form>
      </section>
      <section class="main__about about" id="about">
        <h2 class="about__title">YAŞADIĞI SİYASİ OLAYLAR</h2>
        <div class="about__info info-block">
          <ul>
            <li>
              Sabahattin Ali düşünce hayatına Türkçülük düşüncesiyle başladı ve Ziya Gökalp'i "Milliyet aşkını gönüllere serpen nebi" diye niteledi. Nihal Atsız, Sabahattin Ali'nin Türk Ocakları'na gittiğini ve oradaki ortama uygun şiirler yazdığını söyledi. Kendisinin komünizmle tanışmasının Almanya'da olduğunu ve propaganda yaptığı iddiasıyla Türkiye'ye geri gönderildiğini iddia edenler vardır. Fakat Nihal Atsız'ın anlattığına göre Türklüğe hakaret eden bir Alman'ı dövdüğü için Almanya'dan geri gönderilmişti. Sabahattin Ali, Almanya dönüşünde hem Resimli Ay dergisinde hem de Atsız Mecmua'da şiir ve yazılar yazdı. Ayrıca romantik karakterli öyküler yerine toplumsal içerikli öykülere yöneldi. Kendisinin toplumcu gerçekçi yönüyle yazdığı öyküler Resimli Ay'da takdir ve kabul gördü. Bu durum Nâzım Hikmet'in "Türk edebiyatında öykücü olarak yalnız sen varsın!" tepkisiyle karşılık buldu.
            <li>
            <br><br>
            <li>
              Türk devlet büyüklerine hakaret ettiği iddiasıyla tutuklanmasının ardından tek parti yönetimine karşı daha sert ve eleştirel bir üslup kullandı. Hasan İzzettin Dinamo, Sabahattin Ali'nin tutukluluğu hakkında "Konya'daki bu şiir ihbarı olmasaydı onun solculuğu tatlı bir gevezelik olarak kalacaktı." ifadelerini kullandı. Nâzım Hikmet ise 1952 yılında Novoye Vremya gazetesinde yayınlanan bir yazısında, Sabahattin Ali'nin Sovyetler Birliği'ne derin bir sevgi beslediğini iddia etti.
            </li>
            <br><br>
            <li>
              Sabahattin Ali, Markopaşa gibi yerlerde yazdığı yazılarında yabancı sermayelerin Türkiye'de ikinci kapitülasyonlar dönemini başlatacağını ve ülke bağımsızlığını etkileyeceğini; niteliksiz yöneticiler ve yarı aydınların kendi çıkarları için ülkeyi Amerikan ve İngiliz emperyalizmine peşkeş çekeceğini ve bunun tehlikeli sonuçlar doğuracağını söyleyerek millet idaresine dayalı nitelikli siyasetler üretilmesi gerektiğine değindi.Bu konudaki bir görüşü şu şekildedir:
              Biz istiyoruz ki, bu memlekette yapılan her iş, üç beş kişinin çıkarına değil, bu toprakları dolduran milyonların yararına olsun. (...) Biz istiyoruz ki, bu topraklar ve onun üzerinde yaşayan insanlar, hiçbir yabancı devletin oyuncağı olmasın. (...) Dünya işlerinde politikamız, şunun bunun kölesi gibi peşinden gidilerek değil, bu milletin selametini en iyi sağlatacak yolları müstakil olarak seçmek şeklinde kendini göstersin.
            </li>
            <br><br>
            <li>
              Genel olarak tek parti yönetimine karşı sert ve eleştirel bir tutum sergileyen Sabahattin Ali, partinin çalışmalarını da "baskıcı" şeklinde nitelendirdi. Ayrıca Bakanlar Kurulu tarafından toplatılan Sırça Köşk adlı eseri bu tutumundan izler taşımaktaydı. Kendisinin ırkçılık ve Turancılık gibi fikirler ile yozlaşmış dini kalıplara yönelik yazıları da vardır. Sabahattin Ali'nin Marksist yönü de edebî eserlerine yansıdı ancak bu düşünceleri bir yaşam tarzıolarak görmemekteydi. Kendisi bu yönü hakkında çeşitli eleştirilerle karşı karşıya kaldı. Girmek istediği bir işçi partisi ise kendisini güvenilir kabul etmeyerek onu parti üyeliğine almadı. Arkadaşı Emir Türker de Sabahattin Ali'yi öyküleri dışında Marksist bir yönünün olmamasını gerekçe göstererek eleştirdi. Ayrıca Samet Ağaoğlu ve M. Ali Cimcoz da kendisini bu yönde eleştiren diğer isimlerdir.
            </li>
          <ul>
        </div>
      </section>